html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  font-size: 1.25rem;
}

main {
  padding: 40px 0;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 2.441rem;
  line-height: 150%;
}

h2 {
  margin: 0;
  font-size: 1.953rem;
  line-height: 150%;
}

p {
  line-height: 150%;
}
